### Количество фамилий сотрудников на каждую из букв русского алфавита

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('employees.csv', names=['city', 'name', 'position', 'mail'])
df.head()

              city                 name          position              mail
0           Москва     Оксана Маклакова  Главный редактор   msk1@iportal.ru
1     Екатеринбург        Артем Беседин  Главный редактор     e1@iportal.ru
2  Нижний Новгород       Денис Стрелков  Главный редактор     nn@iportal.ru
3         Кемерово     Анастасия Ильина  Главный редактор  ngs42@iportal.ru
4            Пермь  Екатерина Вохмянина  Главный редактор     59@iportal.ru

In [15]:
count = {}
def count_letter(col):
    last_name = col.split()[1]
    first_letter = last_name[0]
    if first_letter in count.keys():
        count[first_letter]+=1
    else: count[first_letter] = 1

In [16]:
df['name'].apply(count_letter)
for key, value in count.items():
    print(key, value)

М 6
Б 6
С 2
И 3
В 2
П 4
К 5
З 1
Д 1
Н 1
Г 3
Ф 2
Ё 2
Ю 1
Ш 1
Т 2
Ц 2
Р 1
Ч 1